ollama
langchain-ollama
openai
python-dotenv
langchain_openai
langchain
langchain-google-genai
huggingface_hub
langchain_huggingface
transformers
groq
langchain_community
pypdf
beautifulsoup4
bs4
chromadb
langchain_chroma
faiss-cpu
langchain-pinecone 
pinecone-client